.myFooter {
    grid-area: footer;
    margin-top: 5vh;
    background-color: #d648a7;
    border-top: solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ul {
        display: flex;
        justify-content: space-evenly;
    }
    div {
        margin: 0 auto;
    }
}

.iconsFooter {
    width: 10vh;
    height: 10vh;
}

@media (min-width: 280px) and (max-width: 800px) {
    .iconsFooter {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    // .myFooter {
    //     justify-content: center;
    //     div {
    //         display: none;
    //     }
    // }
    .iconsFooter {
        width: 50px;
        height: 50px;
    }
}