.myFooter {
    grid-area: footer;
    margin-top: 5vh;
    background-color: #d648a7;
    border-top: solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ul {
        display: flex;
        justify-content: space-evenly;
    }
    div {
        margin: 0 auto;
    }
}

.iconsFooter {
    width: 10vh;
    height: 10vh;
}