#grilla {
    display: grid;
    grid-template-areas: "logo header" "nav main" "footer footer";
    grid-template-rows: 11vh 82vh 20vh;
    grid-template-columns: 20vw 78.9vw;
    grid-row-gap: 4vh;
}