#grilla {
    display: grid;
    grid-template-areas: "logo header" "nav main" "footer footer";
    grid-template-rows: 80px 640px 100px;
    grid-template-columns: 300px 1200px;
    grid-row-gap: 5px;
}