#grilla {
    display: grid;
    grid-template-areas: "logo header" "nav main" "footer footer";
    grid-template-rows: 9% 650px 27%;
    grid-template-columns: 17% 83%;
}

@media (max-width: 1024px) {
    #grilla {
        grid-template-rows: 7% 590px 26%;
    }
}

@media (min-width: 1900px) {
    #grilla {
        grid-template-rows: 10% 885px 26%;
    }
}