div#logo {
    grid-area: logo;
    margin: auto;
    z-index: 1;
    &:hover {
        transition-duration: 2s;
        transform: rotate(360deg);
    }
}

.logoTransition {
    transition-duration: 3s;
}

.logoIcon {
    width: 225px;
    height: 175px;
    margin-top: 12px;
}