div#logo {
    grid-area: logo;
    margin: auto;
    transform: rotate(25deg);
    &:hover {
        transition-duration: 2s;
        transform: rotate(0deg);
    }
}

.logoTransition {
    transition-duration: 3s;
}

.logoIcon {
    width: 30vh;
    height: 25vh;
    margin-top: 2.5vh;
}