$size:80px;
@mixin flex($seccion) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @if $seccion==2 {
        align-items: center;
    }
}

%containerMain {
    grid-area: main;
    background-color: #b63e8e;
    margin-right: 15px;
    &--live {
        align-items: center;
    }
}

.containerMainSeccion {
    @extend %containerMain;
    @include flex(0);
}

.containerMainPrincipal {
    @extend %containerMain;
    @include flex(1);
}

.containerMainLive {
    @extend %containerMain;
    @include flex(2);
}

.containerSection {
    height: 100%;
    @include flex(1);
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue';
        letter-spacing: 2px;
        @media (min-width: 200px) and (max-width: 1024px) {
            margin-bottom: 0px;
        }
    }
    &__cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
        @media (min-width: 200px) and (max-width: 1024px) {
            justify-content: flex-start;
            align-items: center;
            overflow: scroll;
        }
    }
    a {
        align-self: flex-end;
        margin-right: 30px;
        margin-top: auto;
    }
}

.iconsTitle {
    width: $size;
    height: $size;
    margin-right: 20px;
}

.iconsTitle--live {
    width: $size *1.2;
}

.descripcion {
    margin: 0 auto;
    font-size: 25px;
}

@media (min-width: 280px) and (max-width: 1024px) {
    %containerMain {
        margin-right: 0px;
    }
    .containerSection {
        margin-bottom: 55px;
        a {
            align-self: center;
            margin-right: 0px;
            margin-top: 0px;
        }
    }
}

@media(max-width: 370px) {
    h2 {
        font-size: 1rem;
    }
}