$size:9vh;
@mixin flex($seccion) {
    display: flex;
    flex-direction: column;
    @if $seccion==1 {
        justify-content: start;
    }
    @else {
        justify-content: space-evenly;
        @if $seccion==2 {
            align-items: center;
        }
    }
}

%containerMain {
    grid-area: main;
    background-color: #b63e8e;
    margin-right: 3vw;
    &--live {
        align-items: center;
    }
}

.containerMainPrincipal {
    @extend %containerMain;
    @include flex(1);
}

.containerMainSeccion {
    @extend %containerMain;
    @include flex(0);
}

.containerMainLive {
    @extend %containerMain;
    @include flex(2);
}

.containerSection {
    @include flex(1);
    height: 43vh;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue';
        margin-bottom: 2.5vh;
        letter-spacing: 2px;
    }
    &__cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    a {
        align-self: flex-end;
        margin-right: 30px;
        margin-top: auto;
    }
}

.iconsTitle {
    width: $size;
    height: $size;
    margin-right: 20px;
}

.iconsTitle--live {
    width: $size *1.2;
}

.descripcion {
    margin: 0 auto;
    font-size: 25px;
}