$size:9vh;
%flexColEvenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.containerMain {
    grid-area: main;
    background-color: #b63e8e;
    margin-right: 3vw;
    @extend %flexColEvenly;
    &--live {
        align-items: center;
    }
}

.containerSection {
    @extend %flexColEvenly;
    a {
        align-self: flex-end;
        margin-right: 30px;
        margin-top: 10px;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue';
        margin-bottom: 2.5vh;
        letter-spacing: 2px;
    }
    &__cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}

.iconsTitle {
    width: $size;
    height: $size;
    margin-right: 20px;
}

.iconsTitle--live {
    width: $size *1.2;
}

.descripcion {
    margin: 0 auto;
    font-size: 25px;
}