.card--modifier {
    color: black;
    background-color: white;
    border: solid black;
    width: 180px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top--resize {
    width: 15vh;
    height: 15vh;
}

.btn--color {
    color: white;
    background-color: #63BFA5;
    &:hover {
        background-color: #25856a;
        color: white;
    }
}

.btn--size {
    margin: 0;
}

.card--fadein {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.card2--fadein {
    animation-name: fadeIn;
    animation-duration: 2s;
}

.card3--fadein {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.card4--fadein {
    animation-name: fadeIn;
    animation-duration: 4s;
}

.card5--fadein {
    animation-name: fadeIn;
    animation-duration: 5s;
}

@media (min-width: 769px) and (max-width:1025px) {
    .card--modifier {
        width: 220px;
        height: 280px;
        margin-left: 15px;
    }
}

@media (min-width: 426px) and (max-width:768px) {
    .card--modifier {
        height: 240px;
        margin-left: 15px;
        font-size: 0.8rem;
    }
    .btn--size {
        width: 100px;
        height: 35px;
        font-size: 0.9rem;
    }
}

@media (max-width:426px) {
    .card--modifier {
        width: 500px;
        height: 100px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .btn--size {
        width: 100px;
        height: 35px;
        font-size: 0.9rem;
    }
}