$cardSize: 220px,
190px;
$titleName: 'tendencias',
'recomendaciones';
.iconsPrincipal {
    width: 80px;
    height: 80px;
}

.mainCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: nth($cardSize, 1);
    height: nth($cardSize, 2);
    animation-name: fadeIn;
    animation-duration: 2s;
    img {
        width: nth($cardSize, 1);
        height: 120px;
    }
    div {
        font-size: 0.8rem;
    }
}

.a--tendencias:hover {
    text-decoration: none;
    color: #D95F18;
}

.a--recomendaciones:hover {
    text-decoration: none;
    color: #1BBF54;
}

@media (min-width: 360px) and (max-width: 415px) {
    .iconsPrincipal {
        width: 160px;
        height: 160px;
    }
    .mainCard {
        img {
            width: 200px;
            height: 100px;
        }
        div {
            display: none;
        }
    }
}