.card--modifier {
    color: black;
    background-color: white;
    border: solid black;
    width: 12vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top--resize {
    width: 15vh;
    height: 15vh;
}

.btn--color {
    color: white;
    background-color: #63BFA5;
    &:hover {
        background-color: #25856a;
        color: white;
    }
}

.card--fadein {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.card2--fadein {
    animation-name: fadeIn;
    animation-duration: 2s;
}

.card3--fadein {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.card4--fadein {
    animation-name: fadeIn;
    animation-duration: 4s;
}

.card5--fadein {
    animation-name: fadeIn;
    animation-duration: 5s;
}