$size:39px;
.containerNav {
    grid-area: nav;
    margin-right: 20px;
    margin-left: 42px;
    display: flex;
    justify-content: space-evenly;
    &__pages {
        margin-top: 140px;
        @media (min-width: 280px) and (max-width: 600px) {
            margin-top: 20px;
        }
        @media (min-width: 801px) and (max-width: 1024px) {
            margin-top: 160px;
        }
        @media (min-width: 1900px) {
            margin-top: 190px;
        }
        li {
            padding-top: 3px;
            width: $size*2;
            height: $size*2;
            margin-bottom: 70px;
            @media(max-width: 370px) {
                margin-bottom: 80px;
            }
            @media(min-width: 370px) and (max-width: 500px) {
                margin-bottom: 120px;
            }
            @media (min-width: 500px) and (max-width: 600px) {
                margin-bottom: 100px;
            }
            @media (min-width: 801px) and (max-width: 1024px) {
                margin-bottom: 65px;
            }
            a {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &:hover {
                background-color: #25856a;
                border-radius: 10px;
                text-decoration: none;
                a {
                    text-decoration: none;
                    color: gold;
                }
                @media (min-width: 280px) and (max-width: 550px) {
                    background-color: #63BFA5;
                }
            }
        }
    }
    &__cables {
        margin-top: 130px;
        width: 100px;
        height: 575px;
        @media (min-width: 280px) and (max-width: 800px) {
            display: none;
        }
        @media (min-width: 801px) and (max-width: 1024px) {
            width: 100px;
            margin-top: 160px;
        }
        @media (min-width: 1900px) {
            width: 110px;
            height: 600px;
            overflow: hidden;
            margin-top: 200px;
        }
    }
}

.iconsNav {
    width: $size;
    height: $size;
    ;
}

.iconsNav--live {
    width: $size *1.2;
}

@media (min-width: 300px) and (max-width: 800px) {
    .containerNav {
        margin-left: 10px;
        margin-right: 5px;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    .containerNav {
        margin-left: 5px;
        margin-right: 5px;
    }
}