$size:5vh;
.containerNav {
    grid-area: nav;
    margin-right: 3vh;
    margin-left: 2.5vw;
    display: flex;
    justify-content: space-evenly;
    &__pages {
        margin-top: 21vh;
        li {
            padding-top: 3px;
            width: $size*2;
            height: $size*2;
            margin-bottom: 6vh;
            a {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &:hover {
                background-color: #25856a;
                border-radius: 10px;
                text-decoration: none;
                a {
                    text-decoration: none;
                    color: gold;
                }
            }
        }
    }
    &__cables {
        margin-top: 23.5vh;
        width: 12vh;
        height: 63vh;
    }
}

.iconsNav {
    width: $size;
    height: $size;
    ;
}

.iconsNav--live {
    width: $size *1.2;
}