$size:39px;
.containerNav {
    grid-area: nav;
    margin-right: 20px;
    margin-left: 42px;
    display: flex;
    justify-content: space-evenly;
    &__pages {
        margin-top: 140px;
        @media (min-width: 360px) and (max-width: 415px) {
            margin-top: 20px;
        }
        li {
            padding-top: 3px;
            width: $size*2;
            height: $size*2;
            margin-bottom: 43px;
            @media (min-width: 360px) and (max-width: 415px) {
                margin-bottom: 80px;
            }
            a {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &:hover {
                background-color: #25856a;
                border-radius: 10px;
                text-decoration: none;
                a {
                    text-decoration: none;
                    color: gold;
                }
            }
        }
    }
    &__cables {
        margin-top: 145px;
        width: 100px;
        height: 500px;
        @media (min-width: 360px) and (max-width: 415px) {
            display: none;
        }
    }
}

.iconsNav {
    width: $size;
    height: $size;
    ;
}

.iconsNav--live {
    width: $size *1.2;
}

@media (min-width: 360px) and (max-width: 415px) {
    $reSize: 0.7;
    .iconsNav {
        width: $size * $reSize;
        height: $size * $reSize;
    }
    .iconsNav--live {
        width: ($size * $reSize)*1.2;
    }
    .containerNav {
        margin-left: 5px;
        margin-right: 5px;
    }
}