@import 'grid';
@import 'navigation';
@import 'header';
@import 'main';
@import 'footer';
@import 'extends';
@import 'logo';
@import 'mainGeneros';
@import 'mainLive';
@import 'mainPrincipal';
@import 'mainTop';
@import 'signUp';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap');
body {
    background-color: #d648a7;
    background-image: linear-gradient(to bottom, #d648a7, #ff8fda);
    font-family: 'Staatliches';
    font-size: 17px;
    color: white;
}

li {
    list-style: none;
}