@import 'grid';
@import 'navigation';
@import 'header';
@import 'main';
@import 'footer';
@import 'extends';
@import 'logo';
@import 'mainGeneros';
@import 'mainLive';
@import 'mainPrincipal';
@import 'mainTop';
@import 'signUp';
@import 'animations';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ff77d2;
    font-family: 'Staatliches';
    font-size: 18px;
    color: white;
}

li {
    list-style: none;
}

@media (min-width: 360px) and (max-width: 415px) {}