body {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}

fieldset {
    width: 25%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 30%;
}

fieldset div {
    display: flex;
    justify-content: center;
}