body {
    color: aliceblue;
    background-color: purple;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav div {
    display: flex;
    justify-content: center;
}

nav ul {
    margin-top: 20px;
}

nav div ul li {
    font-size: large;
    margin-right: 30px;
}

li a {
    color: aliceblue;
}

li {
    display: inline;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section ul {
    display: flex;
    justify-content: center;
}

section ul li {
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

.icons {
    width: 4%
}

.generosBloque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generosDesc {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    align-items: center;
}

.descripciones {
    font-size: large;
}

.imagenes {
    width: 25%;
}

input {
    margin-left: 26%;
    margin-right: 26%;
    height: 40px;
}