#grilla {
    font-family: 'Baloo Tammudu 2';
    margin-left: 5%;
    display: grid;
    grid-template-areas: "header header" "formulario gif" "footer footer";
    grid-template-rows: 7% auto 10%;
    grid-template-columns: 45% 45%;
    grid-column-gap: 15%;
    grid-row-gap: 7px;
}

header {
    grid-area: header;
    text-align: center;
}

footer {
    grid-area: footer;
    text-align: center;
}

section#formulario {
    grid-area: formulario;
}

aside#gif {
    grid-area: gif;
}

body {
    background-color: #640584;
    color: aliceblue;
}

fieldset {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}