$radius:5px;
$colors: black,
#63BFA5;
%borders {
    border-style: solid;
    border-color: nth($colors, 1);
    background-color: nth($colors, 2);
}

%radius {
    border-radius: $radius;
}

%flexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myBorders {
    @extend %borders;
}

.myRadius {
    @extend %radius;
}

.bordersAndRadius {
    @extend %radius;
    @extend %borders;
}

.flexColCenter {
    @extend .flexColCenter;
}