#grilla {
    display: grid;
    grid-template-areas: "logo header" "nav main" "footer footer";
    grid-template-rows: 11vh 82vh 0vh;
    grid-template-columns: 45vh 128vh;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}