.mainSignUp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

fieldset {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

fieldset div {
    display: flex;
    justify-content: center;
}