.carrouselLive {
    display: block;
    margin: auto;
    width: 80vh;
    height: 60vh;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.carrousel__img {
    width: 80vh;
    height: 60vh;
}