.carrouselLive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vh;
    height: 50vh;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.carrousel__img {
    width: 60vh;
    height: 40vh;
}