.containerMain {
    grid-area: main;
    background-color: #b63e8e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.iconsTitle {
    width: 10vh;
    height: 10vh;
}