.carrouselLive {
    background-color: gold;
    width: 70vh;
    height: 50vh;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.carrouselPadding {
    padding: auto;
}

.carrousel__img {
    width: 45vh;
    height: 25vh;
}