@import 'grid';
@import 'navigation';
@import 'header';
@import 'main';
@import 'footer';
@import 'extends';
@import 'assetsSizes';
@import 'logo';
body {
    background-color: #d648a7;
    background-image: linear-gradient(to bottom, #d648a7, #ff8fda);
    font-family: 'Baloo Tammudu 2' !important;
    font-style: normal;
    color: white;
}