@import 'navigation';
@import 'header';
@import 'main';
@import 'footer';
@import 'extends';
body {
    background-color: #d648a7;
    background-image: linear-gradient(to bottom, #d648a7, #ff8fda);
    font-family: 'Baloo Tammudu 2';
    color: white;
}

#grilla {
    display: grid;
    grid-template-areas: "logo header" "nav main" "footer footer";
    grid-template-rows: 10vh 80vh 0vh;
    grid-template-columns: 45vh 128vh;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}